<nav class="navbar navbar-default" style=" margin-top: 5px;margin-bottom: 10px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
            <img src="/images/logo.png">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="index"><span class="glyphicon glyphicon-calendar"></span> 日  历</a></li>
                <li><a href="../backstage"><span class="glyphicon glyphicon-list"></span> 项目后台</a></li>
                <li><a href="../userinfo"><span class="glyphicon glyphicon-phone"></span> 电话号码表</a></li>
                <li><a href="../admin"><span class="glyphicon glyphicon-unchecked"></span> 管理后台</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="glyphicon glyphicon-user"></i> {{username}} <span
                            class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>